*,
*::before,
*::after{
    box-sizing: border-box;
}

.game{
    display: flex;
    max-width: 70vw;
}
.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    margin: 0;
    
}

.card{
    margin: 5px;
    height: 100px;
    width: 100px;
}

.selected{
    border: 4px solid blue;
}


