*,
*::before,
*::after{
    box-sizing: border-box;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.game{
    display: flex;
  
    flex-wrap: wrap;
   
}
.grid{
    display: grid;
    justify-content: center;
    grid-gap:10px;
    grid-template-columns: repeat(6,100px);
    grid-template-rows: repeat(2, 100px);
    min-width: 50vw;
   
    
}

.card{
    height: 100px;
    width: 80px;
    transform-style : preserve-3d;
    transition: all 0.4s linear;
    position: relative;
}

.front-image{
    height: 100px;
    width: 80px;
}
.card.flipped{
    transform  : rotateY(180deg);
}

.front,
.back{
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 80px;
}


.card .front{ 
    display: flex;
    justify-content: center ;
    align-items: center ;
    transform: rotateY(180deg);
}



.card .back {
    background: url('../images/devine.png');
    background-position: center center;
    background-size: cover;
    backface-visibility: hidden;
}

.leaderboard {
    margin-top: 15px;
    width: 200px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 15px;
}



.leaderboard h3 {
    margin-top: 0;
}

.leaderboard ul {
    list-style-type: none;
    padding: 0;
}

.leaderboard li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.leaderboard li:last-child {
    border-bottom: none;
}