*,
*::before,
*::after{
    box-sizing: border-box;
}

.game{
    display: flex;
  
    flex-wrap: wrap;
    min-width: 70vw;
}
.grid{
    display: grid;
    justify-content: center;
    grid-gap:10px;
    grid-template-columns: repeat(6,100px);
    grid-template-rows: repeat(2, 100px);
    min-width: 50vw;
   
    
}

.card{
    height: 100px;
    width: 100px;
    transform-style : preserve-3d;
    transition: all 0.4s linear;
    position: relative;
}

.front-image{
    height: 80px;
    width: 80px;
}
.card.flipped{
    transform  : rotateY(180deg);
}

.front,
.back{
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
}


.card .front{ 
    display: flex;
    justify-content: center ;
    align-items: center ;
    transform: rotateY(180deg);
}



.card .back {
    background: url('../images/devine.png');
    background-position: center center;
    background-size: cover;
    backface-visibility: hidden;
}

